NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ADMIN_USER_ID=
REVALIDATE_SECRET=
NEXT_PUBLIC_SITE_URL=https://chaen.vercel.app
NEXT_PUBLIC_PDF_RESUME_KO_NAME=박채원_이력서.pdf
NEXT_PUBLIC_PDF_RESUME_EN_NAME=ParkChaewon-Resume.pdf
NEXT_PUBLIC_PDF_PORTFOLIO_KO_NAME=박채원_포트폴리오.pdf
NEXT_PUBLIC_PDF_PORTFOLIO_EN_NAME=ParkChaewon-Portfolio.pdf
