NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ADMIN_USER_ID=
REVALIDATE_SECRET=
NEXT_PUBLIC_RESUME_NAME=ParkChaewon-Resume.pdf
NEXT_PUBLIC_PORTFOLIO_NAME=ParkChaewon-Portfolio.pdf
