NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ADMIN_USER_ID=
REVALIDATE_SECRET=
NEXT_PUBLIC_SITE_URL=https://chaen.vercel.app

# 국문 이력서 고정 파일명
NEXT_PUBLIC_PDF_RESUME_KO_NAME=박채원_이력서.pdf
# 영문 이력서 고정 파일명
NEXT_PUBLIC_PDF_RESUME_EN_NAME=ParkChaewon-Resume.pdf
# 국문 포트폴리오 고정 파일명
NEXT_PUBLIC_PDF_PORTFOLIO_KO_NAME=박채원_포트폴리오.pdf
# 영문 포트폴리오 고정 파일명
NEXT_PUBLIC_PDF_PORTFOLIO_EN_NAME=ParkChaewon-Portfolio.pdf