/* basic preset */
:root {
  --yellow: #ffc830;
  --red: #d25f40;
  --beige: #f4e9d1;
  --green: #9fd5af;
  --blue: #475d8e;
  --black: #010b13;
}

html {
  font-size: 10px;
  cursor: url('../images/cursor.png'), auto;
}

* {
  font-family: 'Helvetica* Extended Extra Light';
  padding: 0;
  margin: 0;
  color: var(--black);
}

button,
a {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style: none;
}

/* common */
h1 {
  font-family: 'Helvetica* Extended Light';
  font-size: 4.2rem;
}

.semi_title {
  font-size: 2.3rem;
}

.scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

section {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#page1,
.tab_yellow {
  background-color: var(--yellow);
  text-align: center;
}

#page2 {
  background-color: var(--blue);
  display: flex;
}

#page3,
.tab_green {
  background-color: var(--green);
}

.tab_red {
  background-color: var(--red);
}

nav {
  display: flex;
  position: fixed;
  justify-content: center;
  gap: 3rem;
  width: 100vw;
  background-color: var(--beige);
  font-size: 1.5rem;
  padding: 0.7rem;
  border-bottom: 2px solid var(--black);
  z-index: 1000;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.container .modal {
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  background-color: var(--beige);
  width: 50rem;
  border: 2px solid var(--black);
  border-radius: 10px;
  overflow: hidden;
}

.tab {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid var(--black);
}

.tab ul {
  display: flex;
  gap: 0.5rem;
}

.tab li {
  width: 0.8rem;
  height: 0.8rem;
  border: 0.1rem solid var(--black);
}

.tab li:first-of-type {
  background-color: var(--yellow);
  border-radius: 50%;
}

.tab li:nth-of-type(2) {
  background-color: var(--green);
  border-radius: 50%;
}

.tab li:last-of-type {
  background-color: var(--blue);
  border-radius: 50%;
}

.modal_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 4rem;
  font-size: 2.5rem;
}

.rounded {
  border-radius: 12% / 50%;
  padding: 1.2rem 2rem;
}

.modal button {
  background-color: var(--green);
  font-size: 1em;
}

.projects_container .modal:first-child {
  top: 80px;
  left: 50px;
  height: 500px;
}

.projects_container .modal:nth-child(2) {
  top: 120px;
  left: 100px;
  height: 500px;
}

.blue_div {
  margin: 3.5rem;
  height: 50%;
  width: 100%;
  background-color: var(--blue);
}

.projects_container .modal:last-child {
  top: 170px;
  left: 160px;
  height: 550px;
}

#page2 .tab_yellow + div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 500px;
  overflow-y: auto;
}

.project {
  display: flex;
  text-align: left;
  padding: 0.6rem;
  padding-right: 1.5rem;
  border-radius: 2rem;
}

.project:hover {
  background-color: #d9d9d9;
}

.project img {
  width: 7rem;
  margin-right: 2rem;
}

.project_explanation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 50px;
}
.project_explanation p {
  font-size: 2rem;
  margin: 0.5rem 0px;
}

.project_explanation div {
  width: 100%;
  background-color: var(--yellow);
  border: 1px solid var(--black);
  border-radius: 4px;
  padding: 0.3rem;
  font-size: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
